.table_class {
    background-color: rgb(240, 240, 240);
    border: 1px solid darkgrey;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid rgb(172, 172, 172);
    padding: 5px;
    padding-left: 20px;
    text-align: left;
}

th {
    background-color: rgb(244, 201, 59);
}

html * {
    font-size: 1.02em !important;
    color: #000 !important;
    font-family: Calibri !important;
}
ul {
    padding-left: 20px;
}

.cv_picture {
    float: right;
    padding-top: 20px;
    padding-right: 10px;
    border-image: none;
}